body {
    font-family: Arial;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
    display: block;
}
.logo {
    max-height: 100%;
    max-width: 100%;
    height: 92px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 180px; 
    object-position: center bottom;
    object-fit: contain;
}

.logo-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    min-height: 92px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center bottom;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

li a {
    padding-right: 16px;
    cursor: pointer;
    line-height: 24px;   
}

li a:hover {
    text-decoration: underline;
}

span#appIcon {
    cursor: pointer;
    margin-left: 10px;
    padding: 8px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-right: 15px;
    margin-right: 5px;
}

.git {
   height: 24px;
   cursor: pointer;
   margin-left: 17px;
   border-radius: 50%;
   transform: scale(1.3);
} 

.git:hover {
    box-shadow: 0 0 0 3px rgb(240, 239, 239);
    border-radius: 50%;
}

span#appIcon:hover {
    background-color: rgb(240, 239, 239);
    border-radius: 80%;
}

.sbar-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    width: 560px;
    height: 43px;
    z-index: 3;   
    margin-left: auto;
    margin-right: auto;
}

.sbar-container:hover {
    box-shadow: 0 1px 8px rgb(218, 215, 215);;
}

.right-icons {
    display: flex;
    cursor: pointer;
    transform: scale(0.9);
    margin-right: 20px;
}

#loop {
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
    color: #aeaeaf;
    transform: scale(0.85);
}

.searchbar {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 430px;
    height: 34px;
    outline: none;
    margin-left: 10px;   
}

.mic {
    height: 21px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
}

.Button {
    display: inline-flex;
    justify-content: center;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    margin-left: 7px;
    height: 36px;
    width: 139px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;margin-top: 30px;
    line-height: 27px;
}

.Button:hover {
    box-shadow: 0 0.7px 1px 0.5px rgb(218, 215, 215);
    border-radius: 4px;
    border: 0.5px solid rgb(199, 199, 199);   
}

.keyboard {
    height: 21px;
    width: 36px;
    transform: scale(0.6);
}

.country {
    box-sizing: border-box;
    background-color: rgb(242, 242, 242);
    display: flex;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color:rgb(117, 117, 117)
}

.footer {
    box-sizing: border-box;
    background-color: rgb(242, 242, 242);
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    font-size: 14px;
    color:rgb(117, 117, 117);
    height: 46px;
 }
 
.space{
    display: block;
    height: 250px;
    width: auto;
}

.left-footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.right-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}

.foot {
    padding: 15px;
    display: block;
}

.foot:hover{
    text-decoration: underline;
    cursor: pointer;
}

